html, body{
    padding:0 ;
    margin: 0;

}


body{
    background: #272343;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#quiz{
    background: #e3f6f5;
    width: 30rem;
    padding: 4rem;
    text-align: center;
    border: 1rem;
    border-radius: 0.5rem;
}

h1{
    color: #57636e;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}
.button{
    background-color: #34a3a3;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: 0.3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}
.button:hover{
    cursor: pointer;
    background: #57636e;
}
#progress{
    font-size: 20px;
}
